# Exemplos utilizando a linguagem Python. 

Uma visão geral

# Variáveis

Declarando uma variável inteira a com valor igual a 3 e b valendo 2

In [113]:
a = 3

In [114]:
print(a)

3

In [115]:
b = 2

Imprimindo a soma de a + b

In [116]:
print(a+b)

5

Declarando variáveis do tipo string, e imprimindo a concatenação (soma) de strings

In [117]:
c = '3'

In [118]:
d = '4'

In [119]:
print(c+d)

34

Se eu quero acessar o tipo de dado armazenado pela variável usa-se comando type

In [8]:
type(c)

str

In [9]:
type(a)

int

E para converter o tipo. Por exemplo, número 3 convertido para string

In [10]:
str(3)

'3'

Veja que a "soma" de duas variáveis convertidas para strings resulta em concatenação

In [11]:
str(a) + str(b)

'32'

Ou converter a string para inteiro.

In [12]:
int('3') + int('5')

8

Cuidar com a modificação de variáveis. Sempre o último valor atualizado será o armazenado.

In [13]:
a, b, c = 1, 2, 3

In [14]:
a

1

In [15]:
b

2

In [16]:
c

3

Pode-se declarar string com aspas simples ou duplas

In [17]:
d = "Strings as aspas duplas"

In [ ]:
e = "Strings aspas simples"

Porém cuidado ao combinar as aspas. Padronize!!

In [18]:
f = "A letra 'b' está entre aspas"

Porém veja se usarmos sempre o mesmo tipo. Dá erro!

In [19]:
g = "A letra "b" está entre aspas"

SyntaxError: bytes can only contain ASCII literal characters. (<ipython-input-19-124ee4deaae2>, line 1)

Convenção de nome de variáveis usa-se underline.
* Não é permitido iniciar nome de variáveis começando com números ou caracteres especiais. 
* Não pode ter espaço no nome da variável
* Números fracionários usa-se ponto (.) para separar a casa decimal

In [20]:
minha_variavel_nome_composto = "separei palavras com underline"

Declarando uma variável decimal

In [21]:
h = 5.20

Verificando seu tipo

In [22]:
type(h)

float

Declarando uma variável booleana

In [23]:
i = True

In [24]:
type(i)

bool

# Operadores Aritméticos

In [1]:
3 + 2

5

In [2]:
2 - 3

-1

In [3]:
3 * 2

6

In [4]:
3 / 3

1.0

Eleva ao quadrado

In [5]:
3 ** 4

81

Resto da divisão

In [120]:
10 % 3

1

# Operadores Lógicos

Variável dois recebe o valor 2

In [7]:
dois = 2

Variável dois é igual a 2?

In [8]:
dois == 2

True

Variável dois é diferente de 3?

In [9]:
dois != 3

True

Menor que

In [10]:
dois < 3

True

Maior ou igual a 3

In [11]:
dois >= 3

False

Menor ou igual a

In [12]:
dois <= 3

True

# Operadores de comparação

Declaração de duas variáveis booleanas

In [13]:
Mentira = False
Verdade = True

Operador E (também pode usar o &)

In [14]:
Verdade and Mentira

False

Operador OU

In [15]:
Verdade or Mentira

True

In [16]:
Verdade | Mentira #verdade OU mentira

True

Operador NÃO

In [17]:
not Mentira

True

In [18]:
not Verdade

False

In [19]:
Verdade and not Mentira

True

In [20]:
not Verdade and not Mentira

False

# Métodos e funções

In [21]:
def meu_metodo_print():
    print('Ola')
    print('Mundo')

Chamada do método de print

In [22]:
meu_metodo_print()

Ola
Mundo

Exemplo de função com dois parâmetros e com retorno

In [23]:
def soma_dois_valores(valor1, valor2):
    return valor1 + valor2

In [24]:
soma_dois_valores(3, 5)

8

Funções existentes no Python

In [25]:
print('Ola')

Ola

In [26]:
int('3') #converte para inteiro a string 3

3

converte para inteiro

In [27]:
int(10.3)

10

converte para float

In [28]:
float(10)

10.0

converte para string

In [29]:
str(10)

'10'

verifica o comprimento de uma string

In [30]:
len('Ola') # length tamanho

3

declaração de uma variável x com valor negativo

In [31]:
x = -10

In [33]:
x

-10

Transforma para valor absoluto (sem sinal)

In [34]:
abs(-56)

56

Declaração de uma lista com 5 elementos

In [35]:
listas = [1,2,3,4,5]

Soma de todos os elementos da lista

In [36]:
sum(listas)

15

Comprimento da lista

In [37]:
len(listas)

5

Valor do maior elemento da lista

In [38]:
max(listas)

5

Valor do menor elemento da lista

In [39]:
min(listas)

1

Arredonda valor

In [40]:
round(13.57)

14

In [41]:
round(13.579)

14

# Listas, Tuplas e Sets

Considere que temos 10 notas a serem lançadas. De forma tradicional, podemos declarar criando variáveis separadas

In [42]:
nota1 = 1
nota2 = 5
nota3 = 6
nota4 = 3
nota5 = 8
nota6 = 2
nota7 = 6
nota8 = 7
nota9 = 6
nota10 = 10

Para fazer a média das notas

In [43]:
(nota1+nota2+nota3+nota4+nota5)/5

4.6

# Listas

Podemos facilmente criar uma lista de notas. Elementos separados por vírgula

In [135]:
notas = [2,3,6,8,9,5,6,7,1,8]

Imprimir todos os elementos é só chamar o nome da lista

In [136]:
notas

[2, 3, 6, 8, 9, 5, 6, 7, 1, 8]

Adicionar o elemento 9 na lista. Ele será adicionado como último elemento.

In [137]:
notas.append(9)

In [138]:
notas

[2, 3, 6, 8, 9, 5, 6, 7, 1, 8, 9]

Acessando o primeiro elemento da lita

In [140]:
notas[0]

2

Veja que em listas, os elementos são mutáveis

In [141]:
notas[0] = 1

In [142]:
notas

[1, 3, 6, 8, 9, 5, 6, 7, 1, 8, 9]

Soma de todas as notas

In [48]:
sum(notas)

64

Comprimento da lista notas

In [49]:
len(notas)

11

Calculando média das notas utilizando as funções prontas do Python

In [50]:
media = sum(notas)/len(notas)
media

5.818181818181818

# Tuplas

A diferença de tupla e lista é que os elementos estão entre parênteses. Contudo, os valores são imutáveis!

In [51]:
notas_tuplas = (3,5,6,1)

In [52]:
notas_tuplas = notas_tuplas + (7,)

In [53]:
notas_tuplas

(3, 5, 6, 1, 7)

In [54]:
notas_tuplas += (8,)

In [55]:
notas_tuplas

(3, 5, 6, 1, 7, 8)

In [122]:
notas_tuplas[0]

3

Vamos tentar modificar o primeiro elemento da tupla para o valor 2, não é permitido

In [123]:
notas_tuplas[0] = 2

TypeError: 'tuple' object does not support item assignment

# Sets

Sets são utilizados quando temos um conjunto de elementos entre chaves e que não serão repetidos

In [56]:
set_notas = {3,3,5,5,9,7,8}

In [57]:
set_notas

{3, 5, 7, 8, 9}

In [58]:
set_notas.add(10)

In [59]:
set_notas.add(8)

In [60]:
set_notas

{3, 5, 7, 8, 9, 10}

# Condicionais (if e else)

In [61]:
devo_continuar = True
if devo_continuar == True:
    print('Continue')

Continue

In [62]:
if devo_continuar:
    print('Continue')

Continue

In [63]:
pessoas_conhecidas = ['João','Maria','José','Ana']

Entrada de dados, simulando que foi digitado Maria

In [64]:
pessoa = input('Entre com o nome de uma pessoa:')

In [65]:
pessoa

'Maria'

In [66]:
if pessoa in pessoas_conhecidas:
    print('Você conhece essa pessoa')

Você conhece essa pessoa

In [67]:
if pessoa not in pessoas_conhecidas:
    print('Você não conhece essa pessoa')

In [68]:
if pessoa in pessoas_conhecidas:
    print('Você conhece essa pessoa')
else: # se não
    print('Você não conhece essa pessoa')

Você conhece essa pessoa

Duas opções de formatação

In [69]:
if pessoa in pessoas_conhecidas:
    print(f'Você conhece {pessoa}')
else: # se não
    print('Você não conhece {}'.format(pessoa))

Você conhece Maria

# Loops (while e for)

In [145]:
notas = [1,2,3,4,5,6]

In [146]:
notas[1]

2

In [147]:
minha_variavel = "ola mundo"

In [148]:
minha_variavel[3]

' '

Sem estrutura da repetição, precisamos acessar cada índice da string:

In [73]:
print(minha_variavel[0])
print(minha_variavel[1])
print(minha_variavel[2])
print(minha_variavel[3])
print(minha_variavel[4])

o
l
a

m

Para percorrer todas as notas, podemos usar a estrutura FOR. Assim, para cada nota presente na lista notas, imprima.

In [74]:
for nota in notas:
    print(nota)

1
2
3
4
5
6

Criando uma lista que possui um range de 0 a 11, pulando de 2 em 2.

In [75]:
list(range(0,12,2))

[0, 2, 4, 6, 8, 10]

Aqui o num funciona como um contador, que irá seguir o range de 1 a 9, contando de 2 em 2

In [76]:
for num in range(1,10,2):
    print(num ** 2)

1
9
25
49
81

In [77]:
num = 1
while num <= 9:
    print(num ** 2)
    num += 2

1
9
25
49
81

In [78]:
usuario_quiser = True

In [79]:
while usuario_quiser:
    usuario_input = input("Continuar? (S/N)")
    if usuario_input == 'N':
        usuario_quiser = False

# Dicionários

Dicionários em Python são conjuntos de chave-valor. A sintaxe para criação de dicionários em Python é {chave1 : valor1, chave2 : valor2, …​}.

Veja o exemplo do set abaixo. Não temos informação do que é o 3, 2 ou 5. A que se referem?

In [80]:
meu_set = {3,2,5}

In [81]:
meu_set

{2, 3, 5}

Então podemos criar um dicionário, que em ordem, coloca-se o nome do atributo e seu valor. Veja por exemplo um cadastro para 

Nome: Ana

Idade: 23 anos

Notas: 10, 9, 7.5, 6

In [82]:
meu_dicionario = {'nome': 'Ana', 'idade': 23, 'notas': [10,9,7.5,6]}

Acessando o nome contido no dicionário

In [83]:
meu_dicionario['nome']

'Ana'

In [84]:
meu_dicionario['idade']

23

In [85]:
meu_dicionario['notas']

[10, 9, 7.5, 6]

Uma lista que contém um dicionário de universidades. Todas possuem nome e sigla. Veja como criar.

In [86]:
universidades = [
    {
        'nome': 'Universidade Federal do Rio de Janeiro',
        'sigla': 'UFRJ'
    },
    {
        'nome': 'Universidade de São Paulo',
        'sigla': 'USP'
    }
]

In [87]:
universidades[0]['sigla']

'UFRJ'

In [88]:
universidades[1]['nome']

'Universidade de São Paulo'

# Compressão de listas

In [89]:
minha_lista = [0,1,2,3,4]
minha_lista

[0, 1, 2, 3, 4]

In [90]:
[x for x in range(5)]

[0, 1, 2, 3, 4]

In [91]:
[x**2 for x in range(5)]

[0, 1, 4, 9, 16]

In [92]:
[x*10 for x in range(10) if x % 2 == 1]

[10, 30, 50, 70, 90]

In [93]:
pessoas_conhecidas = [' Ana', 'ManuEla', ' felipe ', 'PEDRO']

In [94]:
pessoas_conhecidas

[' Ana', 'ManuEla', ' felipe ', 'PEDRO']

Veja que na lista de pessoas conhecidas, o nome felipe tem um espaço após o nome. Podemos tratar esse problema usando a função strip(). Ela retorna a string resultante após remover do início ou fim todos os caracteres em branco. Além disso, podemos formalizar para a primeira letra ficar em maiúsculo

In [95]:
pessoas_conhecidas[2].strip().capitalize()

'Felipe'

Expressão comprimida, realizando a remoção dos espaços em branco dos nomes das pessoas, e deixando todas as primeiras letras em maiúsculo e demais em minusculo.

In [96]:
pessoas_normalizadas = [pessoa.strip().capitalize() for pessoa in pessoas_conhecidas]
pessoas_normalizadas

['Ana', 'Manuela', 'Felipe', 'Pedro']

# Expressões Lambda

In [97]:
def diz_ola():
    print('Olá!')

In [98]:
diz_ola()

Olá!

In [99]:
ola = lambda : print('Olá!')

In [100]:
ola()

Olá!

In [101]:
def eleva_ao_quadrado(x):
    return x**2

In [102]:
eleva_ao_quadrado(4)

16

Receba um x e retorne o valor ao quadrado

In [103]:
aoquadrado = lambda x: x**2

In [104]:
aoquadrado(4)

16

In [105]:
def soma_dois_numeros(a,b):
    return a+b

In [106]:
soma_dois_numeros(2,3)

5

Receba a e b e retorne a soma de a + b

In [107]:
soma = lambda a,b: a+b

In [108]:
soma(2,3)

5

In [109]:
def impar_ou_par(n):
    if n%2 == 0:
        print(f'{n} é par')
    else:
        print(f'{n} é ímpar')

In [110]:
impar_ou_par(753)

753 é ímpar

Receba um n. Imprima n é par se o resto da divisão de n por 2 é 0. Senão imprima n é impar.

In [111]:
impoupar = lambda n: print(f'{n} é par') if n%2 == 0 else print(f'{n} é ímpar')

In [112]:
impoupar(34343453212)

34343453212 é par